@media (max-width:959px ){

  .title {
    margin-top:0;
    padding-top:20px;
    margin-bottom:0;
    padding-bottom:10px;
  }

  #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #000;
        width: 100%;
        height: 56px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 13px;
        top: 13px;
        color: #333;
        font-size: 26px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        background: #333;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
    #nav-toggle {
        display: block;
      }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }


  /**top部分**/
  .vision-title h2 { font-size: 17px; }
  img.mielka-logo { width:70%; }
  
  /**プロジェクト紹介部分**/
  .project { margin: 10px; width: 75%; }
  .project img { width: 60%; }
  #pjt-txt {
    margin-top:10px;
    margin-bottom: 2em;
    padding-left:20%;
    padding-right: 20%;
    display: block;
    text-align:left;
  }
  .member-box { width:90%; padding:10px 11%; }


}

@media (max-width:670px ){

  .title {
    margin-top:0;
    padding-top:20px;
    margin-bottom:0;
    padding-bottom:10px;
  }
  #top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    /* Fixed reset */
    #top-head.fixed {
        padding-top: 0;
        background: transparent;
    }
    #mobile-head {
        background: #000;
        width: 100%;
        height: 56px;
        z-index: 999;
        position: relative;
    }
    #top-head.fixed .logo,
    #top-head .logo {
        position: absolute;
        left: 13px;
        top: 13px;
        color: #333;
        font-size: 26px;
    }
    #global-nav {
        position: absolute;
        /* 開いてないときは画面外に配置 */
        top: -500px;
        background: #333;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    #global-nav ul {
        list-style: none;
        position: static;
        right: 0;
        bottom: 0;
        font-size: 14px;
    }
    #global-nav ul li {
        float: none;
        position: static;
    }
    #top-head #global-nav ul li a,
    #top-head.fixed #global-nav ul li a {
        width: 100%;
        display: block;
        color: #fff;
        padding: 18px 0;
    }
    #nav-toggle {
        display: block;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(556px);
        -webkit-transform: translateY(556px);
        transform: translateY(556px);
    }

  section#vision {
    padding-bottom:0px;
  }

  /**vision部分**/
  .vision-title h2 { font-size:15px; }
  .vision-message p { font-size:15px; }
  img.mielka-logo { width:70%; }

  #projects { padding-bottom:30px; }
  .project img { width:70%; }
  .project-txt h3 { margin-top: 10px; margin-bottom: 0; }
  section#projects .project span.border {
    width: 70%;
    display: block;
    border-bottom: 1px solid #000;
    margin: 10px 15%;
  }

  #pjt-txt {
    margin-top:10px;
    margin-bottom: 2em;
    padding-left:15%;
    padding-right: 15%;
    display: block;
    text-align:left;
  }

  /**member部分**/
  .member-box { width:80%; padding:10px 10%; margin: 0 10%; }
  .member {
    width:60%;
    margin-bottom:15px;
  }
  .modal h1 { font-size:27px; }
  .modal-prof { width: 80%; margin:0 10%; }
  .modal-prof img { width:80%; margin: 0 10%; }

}
}
