@charset "utf-8";
* { }

html { font-size:14px; overflow:auto; -webkit-text-size-adjust: 100%; }

body {
	line-height:1.6; color:#3F1F00; overflow:hidden;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", sans-serif;
	}

* {
	margin:0 auto;
	text-align:center;
}

header {
	padding:20px;
	height:50px;
	width:100%;
}

.header-title {
	font-size: 24px;
}

.header-left {
	float: left;
}

.catching {
	height: 550px;
	background-image:url(img/mielka2017.jpg);
	background-size: cover;
	padding-top: 100px;
}

.catching h1 {
	font-size: 50px;
	color: rgb(39,38,114);
}

.catching p {
	color: rgb(39,38,114);
}

.mielka {
	height: 620px;
}

.vision {
	padding-top: 50px;
}

.mission {
	padding-top: 50px;
	padding-bottom:50px;
}

.project {
	height:700px;
	background-color:#dddeda;
	padding-left:50px;
	padding-right:50px;
}

.project h1 {
	padding-top:10px;
}

.procject-area {
	height:70%;
}

.project-box {
	float:left;
	width:33%;
	padding-top:30px;
}

.project-img {
	height:50%;
}

.project-text {
	height:50%;
}

.project-text h2 {
	font-size:35px;
}

.interview-wrapper {
	background-color:#fafaf0;
	padding-left:70px;
	padding-right:70px;
}

.interview-wrapper h1 {
	padding:20px 20px 0 20px;
	font-size: 40px;
}

.jap {
	font-size: 25px;
}

.interviews {
	height:450px;
}

.interview {
	display:inline-block;
	width:33%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.interview-img :hover {
	opacity: 0.8;
}

.about {
	height:400px;
	padding-bottom:40px;
}

.section-title {
	padding-top:20px;
	padding-bottom:10px;
	font-size:40px;
}

.section-subtitle {
	font-size:25px;
	padding-bottom:20px;
}

table {
	width:800px;
	font-size:20px;
}

tr {
	height:35px;
}

.tr-odd {
	background-color: rgb(231,232,231);
}

.contact-submit {
	background-color:#dee7ec;
	color:#889eab;
}

.contact {
	padding-bottom:30px;
	background-color:#fafaf0;
}

.button {
	display:block;
	width:200px;
	height:50px;
	background-color:skyblue;
	border-radius:10px;
}

.button p {
	padding:15px;
}

.container p {
	padding-bottom:20px;
}