@charset "utf-8";


/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.css");

html { font-size:14px; overflow:auto; -webkit-text-size-adjust: 100%; }

body {
	line-height:1.6; color:#3F1F00; overflow:hidden;
	font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
  margin: 0 auto; text-align: center; box-sizing: border-box;
	}
	/* box-sizing:border-box;を指定すると
	widthの合計にpaddingとborderが追加される。 */


/**全体共通**/
.title { font-size:45px; }

#top {
  height:600px;
  width:100%;
	padding-top: 100px;
}

/**メニュー部分**/

header {
  background-color: #000;
}
header a {
  text-decoration: none;
  color: #fff;
}

.inner {
    width: 980px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

#top-head {
      top: -100px;
      position: absolute;
      width: 100%;
      margin: 100px auto 0;
      padding:30px 0 0;
      line-height: 1;
      z-index: 999;
  }
  #top-head a,
  #top-head {
      color: #fff;
      text-decoration: none;
  }
  #top-head .inner {
      position: relative;
  }
  #top-head .logo {
      float: left;
      font-size: 36px;
  }
  #global-nav ul {
      list-style: none;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 14px;
  }
  #global-nav ul li {
      float: left;
  }
  #global-nav ul li a {
      padding:0 30px;
  }
  /*#global-nav ul li a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
  }*/
  /* Fixed */
  #top-head.fixed {
    margin-top: 0;
    top: 0;
    position: fixed;
    padding-top: 10px;
    height: 55px;
    background: #fff;
    background: rgba(255,255,255,.7);
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
    font-size: 24px;
    color: #333;
}
#top-head.fixed #global-nav ul li a {
    color: #333;
    padding: 0 20px;
}
 
/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}
/**ここまでheader**/


/**div.vision部分**/
.vision-title h2 { padding:20px; font-size: 20px; color:black; line-height: 2.5em;}

div a.entry  {
    width: 200px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    padding: 10px 40px;
    letter-spacing: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color:#000;
    color:#fff;
}

/**
ここまでtop部分とheaderメニューなど。
**/

/**プロジェクト部分**/

#projects { background-color:#e0ffff; }


/**帯リンク部**/

#band { background-color:white; }
#band a { display:block; width:100%; }

/** #members **/
#members { background-color:#9efafa; }

.member-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    letter-spacing:2px;
}

.member {
    width: 22.5%;
    margin-right: 3.33%;
    margin-left: 3.33%;
    color: #000;
    margin-bottom: 40px;
}

.member img { width: 100%; }
.member:nth-of-type(4n) { margin-right:0; }
.member:nth-last-of-type(1),
.member:nth-last-of-type(2),
.member:nth-last-of-type(3),
.member:nth-last-of-type(4) {
    margin-bottom: 0;
  }

.member h3 {
    font-size: 20px;
    font-family: Helvetica Neue, san-serif;
    font-weight: normal;
    margin: 10px 0 5px;
  }

  .member p {
    text-align: left; 
  }


/**

.members {background-color:#a8ffff; height:800px; }
.member { float:left; width:33%; margin-bottom:10px; }

**/



  /* ここまでデモページ用のコード */

#modal-content {
  width: 50% ;
  margin: 0 ;
  padding: 10px 20px ;
  border: 2px solid #aaa ;
  background: #fff ;
  position: fixed ;
  display: none ;
  z-index:2;
}
  
#modal-overlay {
  z-index:1;
  display: none ;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 100%;
  height: 120%;
  background-color: rgba( 0,0,0, 0.75 );
}

.button-link {
  color: #00f ;
  text-decoration: underline;
}
 
.button-link:hover {
  cursor: pointer ;
  color: #f00 ;
}


/**アクション部分**/

#action { height:200px; }
#action p { margin:20px; font-size:22px; font-weight:bold; }
#action a {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px 40px;
    letter-spacing: 5px;
    border-radius: 5px;
    font-size: 18px;
    background-color:#000;
    color:#fff;
}

#action a:hover { color: #FFFFFF; background-color:gray; }

.foot { padding-bottom:20px; }


.container:after,
.row:after, 
.col:after, 
.clr:after, 
.group:after { 
  content: ""; 
  display: table; 
  clear: both; 
}

.row { padding-bottom: 0em;
}





@media screen and ( min-width:960px ){

  header .inner {
    width: 80%;
    height: 55px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin: 0 auto;
  }
  header #mobile-head h1 {
    width: 20%;
  }
  header #global-nav ul {
    width: 80%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
  }
  header #global-nav ul li {
    font-family: Manuale, serif;
    font-weight: 300; 
    line-height: 55px;
    letter-spacing: 2px;
    vertical-align: baseline;
  }
  header #global-nav ul li:last-of-type {
    margin-right: 0;
  }
  header #global-nav ul li a {
    display: block;
    padding: 0 20px;
  }
  header #global-nav ul li a:hover {
    background-color: #fff;
    color: #000;
  }

  .pjt-box { display:inline-block; text-align:center; }

  section { padding: 50px 0; }
  section#projects h2 {
    letter-spacing: 2px;
  }
  section#projects .project {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 50px;
  }
  section#projects .project:last-of-type {
    margin-bottom: 0;
  }
  section#projects .project h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 0;
  }
  section#projects .project h3 span {
    font-size: 20px;
    margin-right: 20px;
  }
  section#projects .project img {
    width: 314px;
    height: 230px;
  }
  section#projects .project .project-txt {
    margin-left: 30px;
  }
  section#projects .project span.border {
    width: 500px;
    display: block;
    border-bottom: 1px solid #000;
    margin: 10px 0;
  }
  section#project #pjt-txt {
    width:600px;
  }
  section#projects .project p {
    font-size: 15px;
    text-align: left;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .member-box { width:90%; padding:20px 10%; }
}
